@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
	border-radius: $border-raduis;
}

@mixin button-style($background, $border, $color) {
	color: $color;
	background: $background;
	border-color: $border;
	&:hover {
		color: $color;
		background: darken($background, 7.5%);
		border-color: darken($border, 10%);
	}
	&:active,
	&.active {
		color: $color;
		background: darken($background, 5%);
		border-color: darken($border, 8%);
	}
	&:disabled,
	&.disabled {
		color: $color;
		background: $background;
		border-color: $border;
	}
}

@mixin dialog-type($color, $font) {
	.by-dialog-header {
        background-color: $color;
        color: $font;
        .close {
            &:hover {
                background-color: darken($color, 7%);
				color: darken($font, 7%);
            }
            &:active,
            &.active {
                background-color: darken($color, 5%);
				color: darken($font, 5%);
            }
        }
    }
}